.input {
  width: 300px;
  margin-bottom: 0.5rem;

}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
  font: inherit;
  padding: 0.5rem;
}

.input p {
  color: red;
  font-size: small;
}

.input.inline {
  display: inline-block;
  margin : 1rem;
}